

{% extends "layout.html" %}

{%  block content%}
<h1>about</h1>
<h2>esta es la pagina de about</h2>


<div class="card" style="width: 40rem; height: 22rem;">
    <img src="../static/images/about.jpg" class="card-img-top" alt="home">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
{% endblock %}